<template>
    <dialog ref="dialog" 
		:inert="!modalOpen || null" 
		:open="modalOpen"
		@keyup.esc="$emit('confirm-no')"
	>
		<div class="modal-card" @click.stop="() => {}">
			<h1 class="modal-header"><slot/></h1>
			<div class="modal-main">
				<div>Are you sure?</div>
			</div>
			<div class="modal-buttons">
				<button type="submit" ref="okButton" class="button greenbutton" title="Yes" @click.prevent="$emit('confirm-yes')">✓</button>
				<button type="reset" ref="cancelButton" class="button" title="No" @click.prevent="$emit('confirm-no')">✗</button>
			</div>
		</div>
    </dialog>	
</template>
<script>
import { ref, watchEffect } from "vue";

export default {
	setup(props) {
		const dialog = ref(null)
		const okButton = ref(null);
		const cancelButton = ref(null);

		watchEffect(() => {
			if (props.modalOpen) {
				console.log('open');
			} else {
				console.log('close');
			}
		});
		

		return { cancelButton, dialog, okButton };
	},
	props: {
		modalOpen: Boolean,
	},
	emits: ['confirm-yes', 'confirm-no', 'confirmYes', 'confirmNo'], // camelCase to avoid stupid warnings
}
</script>