<template>
    <teleport to="#modal-container">
		<div 
			class="modal" 
			role="dialog"
			:inert="!modalOpen || null" 
			:class="{ 'is-open': modalOpen }" 
			@keyup.esc="$emit('confirm-no')" 
			@click.prevent="$emit('confirm-no')"
		>
			<div class="modal-card" @click.stop="() => {}">
				<h1 class="modal-header"><slot/></h1>
				<div class="modal-main">
					<div>Are you sure?</div>
				</div>
				<div class="modal-buttons">
					<button type="submit" ref="okButton" class="button greenbutton" title="Yes" @click.prevent="$emit('confirm-yes')">✓</button>
					<button type="reset" class="button" title="No" @click.prevent="$emit('confirm-no')">✗</button>
				</div>
			</div>
		</div>
    </teleport>	
</template>
<script>
import { ref, watchEffect } from "vue";

export default {
	setup(props) {
		const okButton = ref(null);
		watchEffect(() => {
			if (okButton.value) {
				if (props.modalOpen) {
					okButton.value.focus();
				} else {
					okButton.value.blur();
				}
			}
		});

		return { okButton };
	},
	props: {
		modalOpen: Boolean,
	},
	emits: ['confirm-yes', 'confirm-no', 'confirmYes', 'confirmNo'], // camelCase to avoid stupid warnings
}
</script>