<template>
	<div class="filter-buttons">
		<span>Filter:&nbsp;</span>
		<button
			v-for="prio in prioKeys"
			class="checkbutton"
			:class="{ 'is-selected': newFilters.includes(prio) }"
			:title="prio"
			:key="'prio_' + prio"
			@click.stop="togglePrio(prio)">
			{{ prioSymbol(prio) }}
		</button>
	</div>
</template>
<script>
import { ref } from 'vue';
import { prioSymbol, prioKeys } from '../../middleware/prio.js';
export default {
	setup(props, { emit }) {
		const newFilters = ref([...props.filters]);

		const togglePrio = (prio) => {
			if (newFilters.value.includes(prio)) {
				newFilters.value = newFilters.value.filter(item => item !== prio);
			} else {
				newFilters.value.push(prio);
			}
			emit('filters-changed', newFilters.value);
		}

		return {
			newFilters,
			togglePrio,
			prioKeys,
			prioSymbol
		}
	},
	props: {
		filters: {
			type: Array,
			required: true,
		}
	},
	emits: ['filters-changed']
}
</script>