<template>
	<div class="has-input-autocomplete" :ref="$attrs.ref" :class="$attrs.class">
		<label v-if="$slots.default" :for="inputId" class="label is-capitalized"><slot/></label>
		<input 
			class="input" 
			ref="item-0"
			:autocomplete="$attrs.autocomplete"
			:autofocus="$attrs.autofocus ? 'autofocus' : ''"
			:id="inputId"
			:tabindex="$attrs.tabindex"
			:title="$attrs.title"
			:readonly="$attrs.readonly"
			:disabled="$attrs.disabled" 
			:min="$attrs.min"
			:max="$attrs.max" 
			:required="$attrs.required" 
			:class="cssClass" 
			:placeholder="$attrs.placeholder" 
			:type="$attrs.type" 
			:value="value"
			@keyup="checkPosition"
			@keyup.enter="checkEnter"
			@keyup.up="navUp"
			@keyup.down="navDown"
			@change="$emit('change', $event.target.value)"
			@keyup.esc="reset" 
			@input="$emit('input', $event.target.value)"/>

		<div v-if="autoCompleterOpen" class="autocomplete" ref="autocompleteBox">
			<button 
				class="autocomplete-entry" 
				v-for="(entry, index) in filteredList" 
				type="not-submit"
				:key="index" 
				:ref="'item-'+ (index+1)"
				@keyup.esc="reset"
				@keyup.up="navUp"
				@keyup.down="navDown"
				@keyup.enter="updateFromAutocomplete"
				@click="updateFromAutocomplete">
				{{entry}}
			</button>
		</div>
	</div>
</template>
<script>

export default {
	inheritAttrs: false,
	mounted() {
		// autofocus doesn't seem to be set correctly every time
		if (this.$attrs.autofocus) {
			this.$refs['item-0']?.focus();
		}
	},
	data() {
		return {
			selectedId: 0,
			positionAdjust: 0,
		}
	},
	computed: {
		autoCompleterOpen() {
			return this.value.length > 0 && this.filteredList.length > 0 && this.filteredList[0] != this.value;
		},
		cssClass() {
			let css = '';
			if (this.$attrs.readonly) {
				css += 'is-disabled';
			}
			if (this.error) {
				css += ' is-danger';
			}
			return css;
		},
		filteredList() {
			return this.autoCompleterList.filter((item) => item.toLowerCase().startsWith(this.value.toLowerCase()));
		},
	},
	methods: {
		reset() {
			this.$emit('change', '');
			this.$refs['item-0']?.focus();
		},
		navUp() {
			if (this.selectedId > 0) {
				this.selectedId = this.selectedId - 1;
			}
		},
		navDown() {
			if (this.selectedId < this.filteredList.length ) {
				this.selectedId = this.selectedId + 1;
			}
		},
		updateFromAutocomplete(event) {
			this.$emit('input', event.target.textContent);
			setTimeout(() => { this.selectedId = 0; this.$refs['item-0'].focus(); }, 250); // somehow, enter on the input field also gets triggered if this happens too quickly
		},
		checkEnter(event) {
			this.$emit('enter', event);
		},
		checkPosition() {
			if (this.$refs.autocompleteBox) {
				const posY = this.$refs['item-0'].getBoundingClientRect().y;
				const boxHeight = this.$refs.autocompleteBox.getBoundingClientRect().height;
				if (boxHeight > window.innerHeight - posY - 40) {
					this.$refs.autocompleteBox.style.top = '-' + boxHeight + 'px';
				} else {
					this.$refs.autocompleteBox.style.top = 'auto';
				}
			}
		}
	},
	watch: {
		selectedId() {
			if (this.selectedId > 0) {
				this.$refs['item-' + this.selectedId][0].focus();
			} else {
				this.$refs['item-0'].focus();
			}
		},
	},
	props: {
		value: String,
		inputId: String,
		autoCompleterList: {
			type: Array,
			default: () => [],
		},
		error: Boolean,
	},
	emits: ['input', 'change', 'enter'],
}
</script>
<style>
.has-input-autocomplete {
	position: relative;
}
.autocomplete {
	position: absolute;
	z-index: 10;
	text-align: left;
	max-height: 40vh;
	overflow-y: auto;
	min-width: 30vh;
}
.autocomplete button.autocomplete-entry {
	text-align: left;
	text-decoration: none;
	border: none;
	display: block;
	width: 100%;
	color: inherit;
}
.is-capitalized {
	text-transform: capitalize;
}
</style>
