<template>
	<header>
		<top-menu :menu-open="menuOpen" @menu-button-clicked="toggleMenu" >
			<div class="button-bar">
				<fontsize-button 
					:class="{ 'is-selected': bigFont }" 
					@fontsize-changed="emit('fontsize-changed')"/>
				<a id="refresh" class="button" href="/">
					&#x21bb; Reload page
				</a>
				<button class="button logout-button greenbutton" title="Log out" @click.prevent="doLogout()">
					<svg aria-hidden="true" focusable="false" height="16" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z" class=""></path></svg>
					Log out
				</button>
			</div>
			<manage-autocomplete @data-changed="emit('data-changed')"/>
		</top-menu>
		<filter-buttons :filters="filters" @filters-changed="setFilters" />
	</header>
</template>
<script>
import { logout } from '../../middleware/login.js';
import { inject, ref } from 'vue';
import TopMenu from './TopMenu.vue';
import ManageAutocomplete from './ManageAutocomplete.vue';
import FilterButtons from './FilterButtons.vue';
import FontsizeButton from './FontsizeButton.vue';

export default {
	components: {
		TopMenu,
		ManageAutocomplete,
		FontsizeButton,
		FilterButtons
	},
	setup(_, { emit }) {
		const store = inject('store');
		const menuOpen = ref(false);
		const filters = ref(store.filters);
		const autocompleteList = store.autocomplete;

		const doLogout = () => {
			logout();
			store.setLoggedIn(false);
		};

		const toggleMenu = () => {
			menuOpen.value = !menuOpen.value;
		};

		return {
			doLogout,
			menuOpen,
			toggleMenu,
			autocompleteList,
			filters,
			setFilters: store.setFilters,
			emit,
		}
	},
	props: {
		bigFont: Boolean,
	},
	emits: ['data-changed', 'dataChanged', 'fontsize-changed'],
	
};
</script>