<template>
    <div class="entry">
		<input-with-autocompleter 
			type="text" 
			id="new-entry" 
			:value="newEntry" 
			:auto-completer-list="autocomplete"
			input-id="new-entry"
			autocomplete="true"
			autofocus="true"
			placeholder="[new]"
			@enter="checkEnter"
			@input="onChange"
			@change="onChange"/>
		<button title="Clear entry (Esc)" id="clear-entry" type="reset" class="button" @click.prevent="newEntry = ''">
			<span class="hide-on-mobile">Clear</span>
			<span class="show-on-mobile">✗</span>
		</button>
		<button title="Add low prio (Alt+Enter)" id="add-entry" class="button" @click="addTodo('3')"><span class="hide-on-mobile">Add </span>{{ prioSymbol('3') }}</button>
		<button title="Add (Enter)" id="add-entry-mid" type="submit" class="button" @click="addTodo('2')"><span class="hide-on-mobile">Add </span>{{ prioSymbol('2') }}</button>
		<button title="Add high prio (Strg+Enter)" id="add-entry-top" class="button" @click.prevent="addTodo('1')"><span class="hide-on-mobile">Add </span>{{ prioSymbol('1') }}</button>
    </div>
	<div class="delete">
		<button id="remove-done" class="button" @click="modalOpen = true">Delete Done</button>
		<confirmation-dialogue :modalOpen="modalOpen" @confirm-yes="removeDone" @confirm-no="modalOpen = false">
			Remove all completed items
		</confirmation-dialogue>
	</div>
</template>
<script>
import { inject, ref } from 'vue';
import { prioSymbol } from '../../middleware/prio.js';
import InputWithAutocompleter from './InputWithAutocompleter.vue';
import ConfirmationDialogue from './ConfirmationDialogue.vue';
export default {
	components: {
		InputWithAutocompleter,
		ConfirmationDialogue,
	},
	setup(_, {emit}) {
		const modalOpen = ref(false);
		const store = inject('store');
		const autocomplete = store.autocomplete

		const newEntry = ref('');

		const checkEnter = (event) => {
			if (event.ctrlKey) {
				addTodo('1');
			}
			else if (event.altKey) {
				addTodo('3');
			}
			else {
				addTodo('2');
			}
		}
		const addTodo = (prio) => {
			if (newEntry.value.length <= 2) {
				return;
			}
			const addMe = {
				key: new Date().getTime(), 
				name: newEntry.value,
				prio: prio,
				done: false,
			};
			store.addTodo(addMe);
			newEntry.value = '';
			emit('data-changed');
		}

		const removeDone = async () => {
			store.removeDone();
			modalOpen.value = false;
			emit('data-changed');
		}

		const onChange = (value) => newEntry.value = value;

		return {
			newEntry,
			prioSymbol,
			autocomplete,
			modalOpen,
			onChange,
			checkEnter,
			addTodo,
			removeDone,
		};
	},
	emits: ['data-changed', 'dataChanged'],
}
</script>

