<template>
	<div class="manage-autocomplete">
		<h1>Manage Autocompleter</h1>
		<div class="autocomplete-list">
			<div class="entry top">
				<input-with-autocompleter 
					type="text" 
					id="entry-autocomplete-top" 
					ref="autocompleteNewEntryTop"
					:value="autocompleteEntry" 
					input-id="autocomplete-new-entry"
					autocomplete="true"
					placeholder="[new]"
					@input="updateEntry"
					@enter="newEntry" />
				<button type="reset" class="button" @click.prevent="updateEntry('')">✗</button>
				<button type="submit" class="button" @click="newEntry">Add</button>
				<button type="reset" class="button" @click="save">Save</button>
			</div>
			<div v-for="entry in localCopy" class="autocomplete-item" :key="entry">
				<span>{{entry}}</span>
				<button
					class="checkbutton"
					@click.prevent="removeItem(entry)">
					✗
				</button>
			</div>
			<div class="entry bottom">
				<input-with-autocompleter 
					type="text" 
					id="entry-autocomplete-top" 
					ref="autocompleteNewEntryTop"
					:value="autocompleteEntry" 
					input-id="autocomplete-new-entry"
					autocomplete="true"
					placeholder="[new]"
					@input="updateEntry"
					@enter="newEntry" />
				<button type="reset" class="button" @click.prevent="updateEntry('')">✗</button>
				<button type="submit" class="button" @click="newEntry">Add</button>
				<button type="reset" class="button" @click="save">Save</button>
			</div>
		</div>
	</div>
</template>
<script>
import { inject, ref } from 'vue';
import InputWithAutocompleter from './InputWithAutocompleter.vue';

const sortInsensitive = (a, b) => a.localeCompare(b, 'de', { sensitivity: 'base' })

export default {
	components: {
		InputWithAutocompleter,
	},
	setup(_, { emit }) {
		const store = inject('store');
		const autocomplete = store.autocomplete;
		const localCopy = ref([... autocomplete.value]);
		const autocompleteEntry = ref('');

		const removeItem = (item) => {
			localCopy.value.splice(localCopy.value.indexOf(item), 1);
		};

		const newEntry = () => {
			const entry = autocompleteEntry.value;
			if (entry.length > 2) {
				localCopy.value.push(entry);
				localCopy.value.sort(sortInsensitive);
				autocompleteEntry.value= '';
			}
		}

		const updateEntry = (value) => {
			autocompleteEntry.value = value;
		};

		const save = () => {
			store.setAutocomplete(localCopy.value);
			localCopy.value = [... autocomplete.value];
			emit('data-changed');
		};

		return {
			localCopy,
			autocompleteEntry,
			newEntry,
			updateEntry,
			removeItem,
			save
		}
	},
	emits: ['data-changed', 'dataChanged'],
}
</script>