<template>
    <teleport to="body">
		<div class="modal" :inert="!modalOpen || null" :class="{ 'is-open': modalOpen }" @click.stop="emit('aborted')">
			<div class="modal-card modal-edit-form" @click.stop="() => {}">
				<h1 v-if="header" class="modal-header">{{header}}</h1>
				<div class="modal-main">
					<form @submit.prevent="addCost()" class="edit-form">
						<label>{{label}}</label>
						<input ref="inputField" class="edit-input" type="text" v-model="val" @keyup.esc="emit('aborted')">
						<span class="edit-form-buttons">
							<button type="submit" class="button greenbutton" title="OK">✓</button>
							<button type="reset" class="button" title="Cancel" @keyup.esc="emit('aborted')" @click.stop="emit('aborted')">✗</button>
						</span>
					</form>
				</div>
			</div>
		</div>
    </teleport>	
</template>
<script>
import { ref, nextTick, watchEffect } from 'vue';
export default {
	setup(props, { emit }) {
		const val = ref(props.value);
		const inputField = ref(null);

		const addCost = () => {
			emit('submit-edit', val.value);
		}

		watchEffect(async () => {
			if (inputField.value) {
				if (props.modalOpen) {
					await nextTick();
					inputField.value.focus();
				} else {
					inputField.value.blur();
				}
			}
		});

		return {
			val,
			emit,
			addCost,
			inputField,
		};
	},
	props: {
		header: String,
		label: String,
		value: String,
		modalOpen: Boolean,
	},
	emits: ['aborted', 'add-cost', 'submit-edit'],
}
</script>