<template>
	<div class="todo-item" :class="cssClass" @click="handleDivClick(entry)">
		<button 
			class="drag-handle checkbutton" 
			aria-label="use arrow up and down to re-order" 
			@keyup.up="arrowSort($event, 'up')"
			@keyup.down="arrowSort($event, 'down')"
		>
		&thinsp;&nbsp;⋮&nbsp;&thinsp;
		</button>
		<span class="name">
			<button 
				class="button plainbutton" 
				:aria-label="'double-click or enter to edit ' + entry.name" 
				:title="'double-click to edit ' + entry.name"  @dblclick.stop="inlineEdit" @keyup.enter="inlineEdit">{{entry.name}}</button>
		</span>
		<span class="cost">
			<button 
				v-if="costDisplay" 
				:title="'enter cost for ' + entry-name" 
				@click="modalOpen = true"
			>
				{{costDisplay}}
			</button>
		</span>
		<div>
			<button
				ref="priority"
				class="checkbutton"
				:aria-label="'Set priority for ' + entry.name"
				:title="priority"
				@click="inlineOpen = !inlineOpen">
				{{prio}}
			</button>
			<div 
				class="inline-popup" 
				:inert="!inlineOpen || null" 
				:class="{ 'is-open': inlineOpen }"
				@keyup.esc="inlineOpen = false"
			>
				<div v-for="prio in prioKeys" :key="prio">
					<button
						class="checkbutton"
						:title="prio"
						:aria-label="prio"
						@click="emitSetPrio(prio)">
						{{ prioSymbol(prio) }}
					</button>
				</div>	
			</div>
		</div>
		<div>
			<button
				class="checkbutton"
				title="mark done/todo"
				@click="emitToggleDone()">
				{{entry.done ? '✗' : '✓'}}
			</button>
		</div>
		<popup-edit :header="entry.name" :label="'Cost:'" :value="entry.cost || ''" :modal-open="modalOpen" @aborted="modalOpen = false" @submit-edit="addCost"/>
		<popup-edit :label="'New Value:'" :value="entry.name" :modal-open="editMode" @aborted="editMode = false" @submit-edit="inlineEditSubmit"/>
	</div>
</template>
<script>
import { ref, computed } from 'vue';
import PopupEdit from './PopupEdit.vue';
import { prioSymbol, prioKeys } from '../../middleware/prio.js';
export default {
	components: {
		PopupEdit,
	},
	setup(props, { emit }) {
		let eventAdded = false;
		const modalOpen = ref(false);
		const inlineOpen = ref(false);
		const editMode = ref(false);
		const priority = ref(null);

		const prio = computed(() => prioSymbol(props.entry.prio));
		const costDisplay = computed(() => {
			if (props.entry.cost) {
				return props.entry.cost;
			}
			if (props.entry.done) {
				return '0,00';
			}
			return '';
		});

		const cssClass = computed(() => {
			return 'is-prio-' + props.entry.prio + (props.entry.done ? ' is-done' : '');
		});

		const emitToggleDone = () => {
			emit('entry-done-toggle', { name: props.entry.name, prio: props.entry.prio, done: !props.entry.done });
		};
		
		const emitSetPrio = (prio) => {
			inlineOpen.value = false;
			emit('entry-prio-change', { name: props.entry.name, prio, done: props.entry.done });
		};
		
		const removeMe = () => {
			emit('entry-remove', props.entry);
		};
		
		const handleDivClick = (entry) => {
			emit('entry-showinfo', entry.name)
		};
		
		const addCost = (val) => {
			const newEntry = { ...props.entry, cost: val };
			modalOpen.value=false;
			emit('entry-add-cost', newEntry);
		}

		const closeAllPopups = (e) => {
			if (inlineOpen.value && e.target != priority.value) inlineOpen.value = false;
		};

		if (window &&! eventAdded) {
			eventAdded = true;
			window.addEventListener('click', closeAllPopups);
		}

		const arrowSort = (event, direction) => {
			emit('move-' + direction, event); 
		}

		const inlineEdit = () => {
			editMode.value = true;
		}

		const inlineEditSubmit = (value) => {
			editMode.value = false;
			emit('entry-edit', props.entry, value);
		}

		const inlineEditCancel = () => {
			editMode.value = false;
		}

		return {
			prio,
			cssClass,
			costDisplay,
			modalOpen,
			inlineOpen,
			editMode,
			arrowSort,
			priority,
			prioKeys,
			prioSymbol,
			emitToggleDone,
			emitSetPrio,
			removeMe,
			handleDivClick,
			addCost,
			inlineEdit,
			inlineEditSubmit,
			inlineEditCancel,
		}
	},
	props: {
		entry: {
			type: Object,
			required: true,
		}
	},
	emits: [
		'entry-done-toggle',
		'entry-prio-change',
		'entry-edit',
		'entry-remove',
		'entry-showinfo',
		'entry-add-cost',
		'move-up',
		'move-down',
	],
}
</script>
<style scoped>
.button.plainbutton:hover {
	color: #2929ff;
}
.is-prio-1 .button.plainbutton:hover {
	color: #00a400;
}
.is-prio-3 .button.plainbutton:hover {
	color: #a52a2a;
}
</style>