<template>
	<div class="top-menu-container">
		<button 
			class="button top-menu-button" 
			title="toggle menu" 
			:class="menuCss" 
			@click="emitButtonClicked">
			&#9776;
		</button>
		<nav class="top-menu-content" 
			:inert="!menuOpen || null" 
			:class="menuCss"
			@keyup.esc="emitButtonClicked"
		>
			<slot />
		</nav>
	</div>
</template>
<script>
import { computed } from 'vue';

export default {
	setup(props, { emit }) {
		const emitButtonClicked = () => {
			emit('menu-button-clicked');
		};

		const menuCss = computed(() => props.menuOpen ? ' is-open' : '');

		return {
			emitButtonClicked,
			menuCss
		}
	},
	props: {
		menuOpen: {
			type: Boolean,
			required: true,
		}
	},
	emits: [ 'menu-button-clicked' ],
}
</script>
<style scoped>
.top-menu-container {
	position: relative;
}
.top-menu-content {
	transform: scale(0);
	transform-origin: top left;
	position: absolute;
	overflow-y: auto;
	height: auto;
	max-height: 90vh;
	z-index: 50;
	transition: var(--size-transition-reverse);

}
.top-menu-content.is-open {
	transition: var(--size-transition);
	transform: scale(1);
}
</style>