
:root {
	--size-transition: transform 0.3s cubic-bezier(1,1,0,1.5);
	--size-transition-reverse: transform 0.3s cubic-bezier(1,-0.7,0,1);
	--fontsize-transition: font-size 0.1s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: var(--fontsize-transition);
}
*:before,
*:after {
  box-sizing: border-box;
}
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
  font-family: sans-serif;
  overflow: hidden; 
  height: 100dvh;
  width: 100vw;
}
.is-large-font, .is-large-font ~ .modal {
	font-size: larger;
}

.is-large-font .todo-item .name, .is-large-font .autocomplete-item, .is-large-font ~ .modal {
	font-size: 140%;
}

.is-large-font #fulltext {
	font-size: 120%;
}

button:focus-visible, a:focus-visible {
  outline: 2px solid;
  outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 120%;
  font-weight: bold;
}
#app {
  max-width: 1000px;
  margin: auto;
  min-height: 100dvh;
}
.list-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}
.responsive-container {
  overflow-y: auto;
  text-align: left;
}
.responsive-container > div {
  vertical-align: top;
  width: 100%;
}
header {
  display: grid;
  z-index: 1;
  grid-template-columns: auto 1fr auto auto auto;
  position: sticky;
  top: 0;
  height: 2em;
  align-items: center;
}

.button-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 400px;
  margin: auto;
}

.todo-item > div > .checkbutton {
	position: relative;
}
.filter-buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4,min-content);
}
.filter-buttons .checkbutton {
  margin-right: 2px !important;
}
header .fontsize-button.checkbutton {
  width: auto;
  display: flex;
  height: auto;
  gap: 4px;
}
header button.logout-button {
  display: flex;
}
button:hover {
  cursor: pointer;
}
#refresh,
.top-menu-button, .fontsize-button.checkbutton {
  padding-left: 10px;
  padding-right: 10px;
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  text-align: left;
  position: relative;
}

.todo-item .drag-handle {
  cursor: move !important;
  padding-inline: 0;
  min-width: 32px;
}

.todo-item .name {
  display: grid; 
  align-items: center;
  overflow: hidden;
}

.todo-item .name button {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 4px;
  padding-left: 4px;
  display: inline-block;
  cursor: text;
}

.todo-item .cost button {
  color: inherit;
  border: none;
  background: rgba(0, 0, 0, 0);
}

.button.plainbutton {
	display: inline;
	border: none;
	background: none;
	text-align: left;
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	font-style: inherit;
	padding: 0;
	margin: 0;
}

.button.plainbutton:hover {
	text-shadow: none;
  color: inherit;
}

.inline-popup {
  transform: scale(0);
  transform-origin: top;
  top: 2.2em;
  position: absolute;
  padding: 0.25em;
  border: 1px solid;
  transition: var(--size-transition-reverse);
  z-index: 2;
}
.inline-popup.is-open {
  transform: scale(1);
  transition: var(--size-transition);
}

.top-menu-container {
  font-size: 70%;
}

.autocomplete-list {
  border: 1px solid;
  max-width: 400px;
  margin: auto;
}

.autocomplete-item {
  height: 2.2em;
  line-height: 2.2em;
  text-align: left;
  display: flex;
  padding: 0 0 0 1em;
  justify-content: space-between;
  border-bottom: 1px solid;
}
.autocomplete-item:last-child {
  border-bottom: none;
}

#login-form {
  max-width: 600px;
  margin: auto;
}

.entry {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr auto auto auto auto;
}

.entry input {
  width: 100%;
}

#fulltext {
	margin-top: 0.5em;	
	padding-bottom: 0.5em;	
	font-weight: normal;
	font-size: smaller;
	border-bottom: 2px solid #880000;
  }
  
.has-input-autocomplete {
  padding: 0 1em 0 0;
}

.modal {
  z-index: 10;
  backdrop-filter: blur(3px);
  transform: scale(0);
  transform-origin: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(128, 128, 128, 0.2);
  transition: var(--size-transition-reverse);
}

.modal.is-open {
	transform: scale(1);
	transition: var(--size-transition);
}

.modal .modal-header {
  margin-bottom: 1em;
}

.modal .modal-card {
  margin: auto;
  margin-top: 3em;
  width: 60vw;
  min-width: 315px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.modal button {
  width: 50px;
}

.modal form {
  margin-top: 0;
}

.edit-form-buttons {
  white-space: nowrap;
}

.modal-edit-form .button {
  width: 2.5em;
  height: auto;
}

.edit-input {
  text-align: left;
  max-width: 100%;
  padding-left: 0.25em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.show-on-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  #add-entry,
  #add-entry-mid,
  #add-entry-top,
  #clear-entry {
    width: 34px;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: initial;
  }
  .entry {
    gap: 2px;
  }
}

@media screen and (prefers-reduced-motion: reduce) { 
	*, ::before, ::after {
		transition: none !important;
	}
}

@media screen and (max-height: 530px) {
  .list-container {
    margin-inline: 1em;
    display: block;
    height: 100dvh;
    overflow-y: auto;
  }
}
