/* Shapes*/
html,
body {
  margin: 0;
}

body {
  max-width: 950px;
  margin: auto;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  line-height: 1.5em;
}

body * {
  border-radius: 5px;
}

p,
div {
  text-align: center;
}

a {
  font-weight: normal;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background: #999999;
}

.todo-item {
  font-weight: normal;
  border: 1px solid #444;
  white-space: nowrap;
  transition: background-color 0.5s ease-in;
  color: #ddd;
  background: #600;
  box-shadow: 1px 1px 2px #000;
  margin-bottom: 1px;
  line-height: 2em;
  font-size: 110%;
  padding: 5px;
}

.is-prio-1 {
  color: #fff;
  background-color: #800;
}

.is-prio-3 {
  color: #bbb;
  background-color: #500;
}

.todo-item.is-done {
  background-color: #333;
  color: #bbb;
  opacity: 1;
}
.todo-item .name {
  font-weight: bold;
}

.todo-item .cost {
  padding-right: 0.25em;
}

.todo-item .cost button {
  font-size: smaller;
}

header {
  justify-content: start;
  font-size: 120%;
  line-height: 2em;
  padding-left: 5px;
  border: 1px solid #aaaaaa;
  margin-bottom: 1em;
  margin-top: 0;
}

h2 {
  font-size: 115%;
  text-align: center;
}

form {
  margin: auto;
  margin-top: 2em;
  padding-top: 0;
}

input {
  height: 2.2em;
  color: #aaa;
  box-shadow: inset 1px 1px 2px #000;
  background: transparent;
  border: 1px solid #555;
}

*:focus {
  outline-color: #0d0;
}

.modal .modal-card {
  padding: 1em;
  margin-top: 20%;
  background: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #000;
}

.error {
  color: #ff0000;
  border: 1px solid #aaaaaa;
  padding: 0.5em;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
}

/* Colors */

/* red/black/gradients and shadows */
body,
p {
  color: #f33;
  background: #000000;
}

html,
body {
  background-image: -webkit-linear-gradient(top, #000, #300);
  background-image: linear-gradient(to bottom, #000, #300);
}

a {
  color: #dddddd;
}

a:hover {
  color: black;
  background: #dddddd;
  -webkit-box-shadow: 2px 2px 3px #444;
  box-shadow: 2px 2px 3px #444;
}

td {
  border: none;
  -webkit-box-shadow: 2px 2px 3px #444;
  box-shadow: 2px 2px 3px #444;
}

header,
.button {
  color: #dddddd;
  border: none;
  background: #aa0000;
  /* Old browsers */
  background: -webkit-linear-gradient(
    top,
    #ce9494 0%,
    #996666 27%,
    #772929 30%,
    #7f0101 56%,
    #ed1212 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #ce9494 0%,
    #996666 27%,
    #772929 30%,
    #7f0101 56%,
    #ed1212 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    #ce9494 0%,
    #996666 27%,
    #772929 30%,
    #7f0101 56%,
    #ed1212 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    #ce9494 0%,
    #996666 27%,
    #772929 30%,
    #7f0101 56%,
    #ed1212 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce9494', endColorstr='#ed1212', GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: 4px 4px 5px #444;
  box-shadow: 4px 4px 5px #444;
}

/* Overrides */
ul {
  list-style-type: none;
  margin: 0;
  padding: 1px 1px 0 1px;
  text-align: left;
  min-height: 3em;
  background: #333;
  border: 1px solid #333;
}

.list h2 {
  background: #333;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px 5px 10px 5px;
  margin: 0 0 -5px 0;
  color: #666;
  text-align: left;
}

.list {
  background: #222;
  box-shadow: 1px 1px 2px #000000;
}

.modal-main,
.edit-form {
  background: #222;
}

.entry {
  align-items: center;
  margin: 1em 0.5em 0.25em 0.5em;
  padding: 0 0 0 0.25em;
  text-align: left;
  box-shadow: 1px 1px 2px #000;
  border-radius: 5px;
  z-index: 0;
  color: #333;
  background: #222;
  border: 1px solid #222;
}
.entry, .delete {
  line-height: 2em;
}

.inline-popup {
  background-color: #222;
  border-color: #666;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

.manage-autocomplete .entry {
  box-shadow: none;
}

div.entry button {
  font-size: 110%;
}

.button {
  margin: 5px 5px 5px 0;
  font-size: 95%;
  box-shadow: 1px 1px 2px #000000;
  padding: 5px;
  font-weight: bold;
}

.checkbutton {
  border: 1px solid #666;
  margin-left: 3px;
  background: #333;
  line-height: 1.3em;
  color: #666;
  width: 40px;
  height: 35px;
  font-size: 110%;
  font-weight: bold;
  text-shadow: 1px 1px #000, -1px -1px #333;
  box-shadow: inset 1px 1px 1px #000;
}

.checkbutton.is-selected {
  color: #0f0;
}
.checkbutton.is-selected:hover {
	color: #0f0;
	filter: brightness(0.7);
  }
  
.autocomplete-item  {
  border-radius: 0;
}

.autocomplete-item:hover .checkbutton {
  color: #900;
} 

.manage-autocomplete .checkbutton {
  border: none;
  background: none;
  box-shadow: none;
  height: auto;
}

.checkbutton:hover {
  color: #a00;
  text-shadow: -1px -1px #933, 1px 1px #300;
  cursor: pointer;
}

.checkbutton:active {
  text-shadow: none;
}

header {
  text-align: left;
}

header .button {
  line-height: 1.6em;
  width: 100%;
  text-align: left;
}
header button {
	padding-bottom: 2px;
	padding-top: 3px;
}
.is-large-font header button {
	padding-top: 2px;
}
.is-large-font header button.logout-button {
	padding-top: 6px;
	padding-bottom: 3px
}

header .manage-autocomplete .button {
  font-size: inherit;
}

input.button {
  font-size: 100%;
  line-height: 1.6em;
  margin: 2px 3px;
  padding: 0;
}

header button{
  font-size: 80%;
  line-height: 1.6em;
  margin: 2px 8px 2px 0 !important;
}

header button,
header .button {
  border: 1px solid #ccc;
  line-height: 1.2em;
  box-shadow: inset 1px 1px 1px #333;
}

header button:active,
header .button:active {
  box-shadow: inset 3px 3px 3px #333;
}

.button:hover,
header a:hover {
  color: #ffffff;

  text-shadow: 0 0 2px #fff;
  cursor: pointer;
}

header a:hover {
  background: rgba(0, 0, 0, 0);
}

header .fontsize-button.checkbutton {
  color: #ccc;
  width: 100%;
  padding-left: 5px;
}

#refresh {
  padding-left: 5px;
}

header .button.top-menu-button {
  text-align: center;
}

.top-menu-content {
  background: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  top: 2.5em;
  width: 96vw;
  max-width: 940px;
  padding: 1em;
}

.autocomplete {
  background: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1em 0.5em;
}
.autocomplete button.autocomplete-entry {
  background: transparent;
  color: #ddd !important;
  font-weight: normal;
}
.autocomplete button.autocomplete-entry:focus {
  border: 1px solid;
}
.autocomplete button.autocomplete-entry:hover {
  opacity: 0.6;
}

.button:active {
  box-shadow: none;
}

.greenbutton {
  background: linear-gradient(
    to bottom,
    #aaddaa 0%,
    #668866 27%,
    #206020 30%,
    #017701 56%,
    #12e012 100%
  ) !important;
}
@media only screen and (max-width: 469px) {
  input {
    width: 90%;
    line-height: 2.2em;
    font-size: 110%;
    padding-left: 5px;
    margin: 1px 0 2px 2px;
  }

  .is-loading {
    margin-top: 2em;
    display: block;
    font-style: italic;
    font-size: 110%;
  }

  .helper-hidden-accessible {
    display: none;
  }
}
