/* Shapes*/
:root {
  --bgcolor: #fff;
  --bordercolor: #aaa;
  --background: #fff;
}

body {
  background: var(--bgcolor);
  font-size: 16px;
  line-height: 2.5rem;
  font-family: sans-serif;
}
input,
button,
.button {
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  padding-left: 4px;
  padding-right: 2px;
  display: inline-block;
}

p,
div {
  text-align: center;
}

.button-bar {
  border: 1px solid var(--bordercolor);
}

.todo-item {
  vertical-align: middle;
  white-space: nowrap;
  color: #009;
  margin-bottom: 1px;
  padding: 0.25em;
}

.todo-item span {
  height: 2.2em;
}

.todo-item .cost {
  width: 0;
  opacity: 0;
}

.is-prio-1 {
  color: #0a6300;
}

.is-prio-3 {
  color: #815549;
}

.is-done {
  color: #555;
}

.is-done .name {
  text-decoration: line-through;
}

.is-done span {
  text-decoration: inherit;
}

.draggable-container {
  margin-bottom: 1em;
  min-height: 2em;
}

.draggable-container:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

header {
  justify-content: start;
  font-size: 120%;
  line-height: 2em;
  padding-left: 5px;
  border: 1px solid #aaaaaa;
  margin-bottom: 1em;
  margin-top: 0;
  background: var(--bgcolor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 115%;
  text-align: center;
}

form {
  margin: auto;
  margin-top: 2em;
  padding-top: 0;
}

input,
button {
  height: 2.2em;
  color: inherit;
}

#refresh:hover,
.top-menu-button:hover,
.logout-button:hover {
  opacity: 0.6;
}

#refresh {
  font-size: 100%;
  padding-bottom: 3px;
}

.button.top-menu-button {
  padding-left: 5px;
  padding-right: 5px;
}

.top-menu-content {
  top: 2.5em;
  width: 96vw;
  max-width: 990px;
  padding-bottom: 1em;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  background: var(--background);
}

.inline-popup {
  background-color: var(--bgcolor);
  border-color: var(--bordercolor);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

input:focus, 
textarea:focus,
select:focus {
  outline: 2px solid #090;
}

.modal .modal-card {
  padding: 2em;
  background: var(--background);
}

.modal .modal-card .modal-main {
  padding-top: 2em;
}

.modal .modal-card h1 {
  font-size: larger;
  color: #900;
  border-bottom: 2px solid;
}

.modal .button {
  width: 4em;
  height: auto;
}

.error {
  color: #ff0000;
  border: 1px solid var(--bordercolor);
  padding: 0.5em;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
}

.autocomplete {
  display: none;
}
/* Colors */

/* red/black/gradients and shadows */
a {
  color: #000077;
}

a:hover {
  color: #3333cc;
}

header .button:not(:focus-visible),
header .button:not(:focus) {
  color: #880000;
  border: none;
}

/* Overrides */
ul {
  list-style-type: none;
  margin: 0;
  padding: 1px 1px 0 1px;
  text-align: left;
  min-height: 3em;
}

.list h2 {
  color: #000;
  text-align: left;
}

#login-form {
  padding: 0.5em;
}

.entry {
  color: #333;
  line-height: 2em;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.entry-input {
  margin-bottom: 0;
}

button {
  color: #900;
  background: rgba(0, 0, 0, 0);
}

.entry .button {
  margin-top: 0;
  font-size: inherit;
  font-weight: bold;
}

#fulltext {
  border-bottom: 2px solid #880000;
}

.button {
  margin: 5px 5px 5px 0;
  font-size: 95%;
  padding: 5px;
  font-weight: bold;
}

.checkbutton {
  color: #999;
  border: none;
  line-height: 1.3em;
  width: 35px;
  height: 35px;
  padding: 3px;
  font-weight: bold;
}

.checkbutton:hover {
  color: #a00;
  cursor: pointer;
}

.checkbutton:active {
  color: #f00;
}

.checkbutton.is-selected {
  color: #060;
}

.checkbutton.is-selected:hover {
	opacity: 0.6
}
  
  header {
  text-align: left;
}

.manage-autocomplete {
  display: none;
}

input.button {
  font-size: 90%;
  line-height: 1.6em;
  margin: 2px 3px;
}
header button {
  line-height: 1.6em;
  margin: 2px 6px 2px 0 !important;
}

header button,
header .button {
  border-bottom: 1px solid #999;
  line-height: 1.2em;
  margin: 0;
}

.button:hover {
  color: #f00;
  text-shadow: 0 0 1px #880000;
  cursor: pointer;
}

.button:active {
  box-shadow: none;
}

.greenbutton {
  color: #006600 !important;
}

.greenbutton:hover {
  color: #090;
  text-shadow: 0 0 1px #006600;
}

input {
  line-height: 2.2em;
  font-size: 120%;
  margin: 1px 0 1em 2px;
}
