/* Shapes*/
@font-face {
  font-family: 'Crafty Girls';
  font-style: normal;
  font-weight: 400;
  src: url(craftygirls.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --bgcolor: #f5f5ed;
  --bordercolor: #aaa;
  --background: #f5f5ed url("paperback.jpg") repeat;
}

body {
  background: var(--bgcolor);
  font-size: 16px;
  line-height: 35px;
  font-family: "Crafty Girls", cursive;
}
input,
button,
.button {
  font-size: inherit;
  line-height: inherit;
}
input {
  background: rgba(0, 0, 0, 0);
}

#app {
  background: var(--background);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  padding-left: 4px;
  padding-right: 2px;
  display: inline-block;
}

p,
div {
  text-align: center;
}

.button-bar {
  border: 1px solid var(--bordercolor);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.todo-item {
  line-height: 2em;
  font-weight: normal;
  vertical-align: middle;
  white-space: nowrap;
  color: #009;
  margin-bottom: 1px;
  font-size: 110%;
  padding: 0.25em;
}

.todo-item .drag-handle {
  color: #900;
}

.todo-item .name button {
  margin-left: 0;
}

.todo-item .name :before {
  content: "*";
  padding-right: 0.25em;
}

.todo-item span {
  height: 2.2em;
}

.todo-item .cost {
  padding-right: 0.25em;
}

.todo-item .name {
  font-weight: bold;
}

.todo-item.is-prio-1 .name :before {
  content: "!";
}

.is-prio-1 {
  color: #0a6300;
}

.todo-item.is-prio-3 .name :before {
  content: "-";
}

.is-prio-3 {
  color: #815549;
}

.is-done {
  color: #555;
}

.is-done .name {
  text-decoration: line-through;
}

.is-done span {
  text-decoration: inherit;
}

.draggable-container {
  margin-bottom: 1em;
  min-height: 2em;
}

.draggable-item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

header {
  justify-content: start;
  font-size: 120%;
  padding-left: 5px;
  border: 1px solid #aaaaaa;
  margin-bottom: 1em;
  margin-top: 0;
  background: var(--bgcolor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 115%;
  text-align: center;
}

form {
  margin: auto;
  margin-top: 2em;
  padding-top: 0;
}

button {
  font-size: inherit;
}

input,
button {
  height: 2.2em;
  color: inherit;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#refresh:hover,
.top-menu-button:hover,
.logout-button:hover {
  opacity: 0.6;
}

#refresh,
.top-menu-button {
  border-bottom: none;
}

#refresh {
  font-size: 100%;
  padding-bottom: 3px;
}

.button {
  padding-block: 0;
  padding-inline: 5px;
  line-height: 1.8;
}

.top-menu-content {
  top: 2.5em;
  width: 96vw;
  max-width: 990px;
  padding-bottom: 1em;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  background: var(--background);
}

.inline-popup {
  background-color: var(--bgcolor);
  border-color: var(--bordercolor);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.manage-autocomplete {
  margin-bottom: 2em;
}

.autocomplete-list,
.autocomplete-item {
  border-color: var(--bordercolor);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid #900;
}

.modal .modal-card {
  padding: 2em;
  background: var(--background);
}

.modal .modal-card .modal-main {
  padding-top: 2em;
}

.modal .modal-card h1 {
  font-size: larger;
  color: #900;
  border-bottom: 2px solid;
}

.modal .modal-edit-form .button {
  width: 2em;
}

.error {
  color: #ff0000;
  border: 1px solid var(--bordercolor);
  padding: 0.5em;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.autocomplete {
  background: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1em 0.5em;
}
.autocomplete button.autocomplete-entry:focus-visible {
  border: 1px solid;
}
.autocomplete button.autocomplete-entry:hover {
  opacity: 0.6;
}
/* Colors */

/* red/black/gradients and shadows */
a {
  color: #000077;
}

a:hover {
  color: #3333cc;
}

header .button:not(:focus) {
  color: #880000;
  border: none;
}

/* Overrides */
ul {
  list-style-type: none;
  margin: 0;
  padding: 1px 1px 0 1px;
  text-align: left;
  min-height: 3em;
}

.list h2 {
  color: #000;
  text-align: left;
}

#login-form {
  padding: 0.5em;
}

.entry {
  color: #333;
  padding-inline: 0.5em;
}

.entry-input {
  margin-bottom: 0;
}

.entry .button {
  margin: 0;
  height: 2.4em;
}

button {
  color: #900;
  background: rgba(0, 0, 0, 0);
}

.entry .button {
  font-size: 110%;
  font-weight: bold;
}

#fulltext {
  border-bottom: 2px solid #880000;
}

.button {
  margin: 5px 5px 5px 0;
  font-size: 95%;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.checkbutton {
  color: #999;
  border: none;
  line-height: 1.3em;
  width: 35px;
  height: 35px;
  padding: 3px;
  font-weight: bold;
}

.checkbutton:hover {
  color: #a00;
  cursor: pointer;
}

.checkbutton:active {
  color: #f00;
}

.checkbutton.is-selected {
  color: #060;
}

.checkbutton.is-selected:hover {
	opacity: 0.6
}
  
  header {
  text-align: left;
}

header .button {
  border-bottom: 1px solid #999;
}

.manage-autocomplete .button, .manage-autocomplete input {
  font-size: inherit;
}

.manage-autocomplete .entry.top {
  border-bottom: 2px solid #900;
}

.manage-autocomplete .entry.bottom {
  border-top: 2px solid #900;
}

.autocomplete-item:hover .checkbutton {
  color: #900;
} 

input.button {
  font-size: 90%;
  line-height: 1.6em;
  margin: 2px 3px;
}
header button {
  line-height: 1.6em;
  margin: 2px 6px 2px 0 !important;
}

header button,
header .button {
  border-bottom: 1px solid #999;
  line-height: 1.2em;
  margin: 0;
}

.button:hover {
  color: #f00;
  text-shadow: 0 0 1px #880000;
  cursor: pointer;
}

.button:active {
  box-shadow: none;
  border: 1px solid #999;
}

.greenbutton {
  color: #006600 !important;
}

.greenbutton:hover {
  color: #090;
  text-shadow: 0 0 1px #006600;
}

input {
  line-height: 2.2em;
  margin: 1px 0 1em 2px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
