<template>
	<div class="container list-container">
		<list-header :bigFont="bigFont" @data-changed="saveData" @fontsize-changed="toggleFontsize()"/>
		<section class="responsive-container">
			<draggable 
				class="draggable-container" 
				id="todo" 
				handle=".drag-handle"
				v-model="todo" 
				@end="updateTodo"
			>
				<transition-group>
					<todo-item 
						v-for="entry in todoFiltered"
						class="draggable-item"
						:key="entry.key"
						:data-key="entry.key"
						:entry="entry"
						@move-up="moveItemWithArrow($event, 'up')"
						@move-down="moveItemWithArrow($event, 'down')"
						@entry-showinfo="showInfo"
						@entry-add-cost="addCost"
						@entry-edit="setEntryName"
						@entry-prio-change="setPrio"
						@entry-done-toggle="toggleDone" />
				</transition-group>
			</draggable>
		</section>
		<footer>
			<section class="new-entry">
				<list-edit @data-changed="saveData"/>
			</section>
			<div id="fulltext" @click="showInfo('')">&nbsp;{{statusMessage}}&nbsp;</div>
		</footer>
	</div>
</template>
<script>
// just the list, add, remove
import { setup } from './List.setup.js';
import { VueDraggable } from 'vue-draggable-plus';
import ListHeader from './widgets/ListHeader.vue';
import TodoItem from './widgets/TodoItem.vue';
import ListEdit from './widgets/ListEdit.vue';

export default {
	components: {
		draggable: VueDraggable,
		ListHeader,
		TodoItem,
		ListEdit,
	},
	setup,
}
</script>