<template>
	<header>
		<span>&nbsp;</span>
		<span>Not logged in!</span>
		<span>&nbsp;</span>
	</header>
    <form id="login-form" class="entry" @submit.prevent="doLogin()">
		<input autofocus="true" type="password" name="pw" v-model="password" placeholder="Password"/>
		<button class="button" type="submit">Log in</button>
    </form>
	<div v-if="errorMessage" class="error">{{errorMessage}}</div>
</template>
<script>
import { inject, ref } from 'vue';
import { login } from '../middleware/login.js';

export default {
	setup() {
		const store = inject('store');
		const password = ref('');
		const errorMessage = ref('');
		const doLogin = () => {
			errorMessage.value = 'Please enter passphrase'
			if (password.value.length > 3) {
				store.setLoggedIn(login(password.value));
			} else {
				errorMessage.value = 'Please enter passphrase'
			}
		}
		return {
			doLogin,
			password,
			errorMessage,
		}
	}
	
}
</script>