<template>
	<div id="modal-container"></div>
	<login v-if="!isLoggedIn"/>
	<Suspense v-else>
		<template #default>
			<list/>
		</template>
		<template #fallback>
			<div class="is-loading">loading...</div>
		</template>
	</Suspense>
</template>

<script>
import { inject } from 'vue';
import List from './components/List.vue';
import Login from './components/Login.vue';

export default {
	setup() {
		const store = inject('store');
		return {
			isLoggedIn: store.isLoggedIn,
		}
	},
	components: {
		List,
		Login,
	}
}
</script>
